.dropdown-element {
  cursor: pointer;
}

.dropdown-options {
  border-radius: 10px;
  position: absolute;
  overflow: hidden;
  margin-top: 30px;
  margin-left: -150px;
}

.dropdown-option {
  font-size: 13px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px
}