.results {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
}

.result-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.result-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #323639;
    padding: 10px;
    border-radius: 10px;
    flex: 1;
    cursor: pointer;
    transition: margin 0.2s ease-in-out;

    &:hover {
        margin-top: -5px;
        border: 1px solid white;
    }
}

.result-item:not(:last-child) {
    margin-right: 20px;
}

.result-image {
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.data-info {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 12px;
    grid-auto-flow: column;
    background-color: #222528;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
    font-size: 13px;
    font-weight: 500;
}

.first-info {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    margin-top: 20px;
}

.title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
}

.right-title-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    color: #767676;
}

.location {
    color: #767676;
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 15px;
}

.title-info {
    color: #767676;
    margin-bottom: 8px;
}

.info {
    color: white;
}