.content-wrapper-user-transactions {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.title-user-transactions {
  font-size: 32px;
  font-weight: 700;
}