.content-wrapper-user-transactions {
  margin: 10px 40px;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.title-user-transactions {
  font-size: 36px;
  color: white;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 30px;
}

