/* profile.css */
.profile-page {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.profile-data {
  border-radius: 25px;
  padding: 50px;
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
  border-width: 1px;
  border-color: #323639;
  border-style: solid;
}

.profile-sidebar {
  width: 100%;
  padding: 20px;
  justify-content: center;
  border-radius: 10px;
}

.profile-info {
  flex: 1;
  padding: 20px;
  margin-left: 50px;
  margin-top: 40px;
  color: #f0f0f0;
}

.profile-sidebar h2 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #f0f0f0;
}

.profile-info .data-container {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.1); /* Add a background color */
  border-radius: 10px;
  margin-bottom: 10px;
  border-width: 1px;
  border-color: #323639;
  border-style: solid;
}

.profile-info .data-container strong {
  font-weight: 700;
  margin-right: 5px;
  padding: 10px;
}

.profile-picture img {
  border: 2px solid black;
  border-radius: 50%;
  border-color: #323639;
  border-style: solid;
}

.buttons-profile {
  margin-top: 25px;
  padding: 10px;
}