.select {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid transparent;
  background-color: #222528;
  font-size: 16px;
  margin-bottom: 20px;
  height: 40px;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  font-size: 13px;
  cursor: pointer;

  &:hover {
    border: 1px solid #323639;
  }

  &:focus-within {
    border: 1px solid #323639;
    background-color: transparent;
  }
}

.select-options {
  border-radius: 10px;
  position: absolute;
  max-height: 100px;
  overflow: scroll;
}

.select-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 10px;
  padding: 20px;
  cursor: pointer;
  font-size: 13px;
  border-radius: 10px;
  overflow: hidden;
}

.select-option > img {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}