.result-item-lpu {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;

  cursor: pointer;
  border-color: #323639;
  transition: margin 0.3s ease-in-out;

  &:hover {
      border: 1px solid white;
  }
}

.result-image-lpu {
  border-radius: 10px;
  width: 210px;
  height: 210px;
  object-fit: cover;
}

.data-info-lpu {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 12px;
  grid-auto-flow: column;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
  font-size: 12px;
}

.first-info-lpu {
  display: flex;
  flex-direction: row;
  font-size: 23px;
  line-height: 22px;
  font-weight: 700;
}

.title-lpu {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.right-title-wrapper-lpu {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.location-lpu {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.result-content-lpu{
  padding: 10px;
  width: 90%;
  margin-left: 20px;
}