.content-wrapper-places-user {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.title-places-user {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}