.filter-content {
    display: flex;
    flex-direction: column;
    border: 1px;
    border-style: solid;
    width: 400px;
    border-radius: 10px;
    position: sticky;
    top: 100px;
    padding: 10px;
}

.filter-title {
    font-size: 22px;
    font-weight: 700;
}