.filter-content {
    display: flex;
    flex-direction: column;
    border: 1px;
    border-style: solid;
    width: 350px;
    border-radius: 10px;
    position: sticky;
    top: 100px;
    padding: 20px;
}

.filter-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 15px;
}

.divisory {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}