.transaction-item {
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  border-radius: 3px;

  cursor: pointer;
  border-color: #323639;
  transition: margin 0.3s ease-in-out;
  &:hover {
      margin-top: -5px;
      border: 1px solid white;
  }
}

.result-content-transaction{
  margin-top: 10px;
  margin-left: 10px;
}

.result-image-transaction {
  border-radius: 10px;
  width: 175px;
  height: 175px;
  object-fit: cover;
  margin: 10px;
  
}

.first-info-transaction {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  margin-top: 10px;
}

.title-transaction {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
}

.location-transaction {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
}

