.transaction-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;

  cursor: pointer;
  border-color: #323639;
  transition: margin 0.3s ease-in-out;

  &:hover {
      border: 1px solid white;
  }
}

.result-image-transaction {
  border-radius: 10px;
  width: 210px;
  height: 210px;
  object-fit: cover;
}

.first-info-transaction {
  display: flex;
  flex-direction: row;
  font-size: 23px;
  line-height: 22px;
  font-weight: 700;
}

.title-transaction {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.location-transaction {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.result-content-transaction {
  margin-left: 20px;
  height: 100%;
}

.list-transactions-button {
  width: 400px;
  height: 210px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}