* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #1A1C1F;
  font-family: "Inter";
}

*:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}